.css-12h0asb-MuiCardContent-root {
  max-height: none !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8.5px 14px !important;
}

.css-1coo3bj-MuiPaper-root-MuiCard-root{
  border: none !important;
}

@media (min-width: 900px) {
  .css-1p2m5dj-MuiGrid-root {
    flex-direction: column !important;
  }
}

#account-header {
  margin: 1rem;
}

#account-buttons-container{
  text-align: center;
}

/* Orders */
.account-spacing {
  padding: 1rem;
}

.order-history {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.my_account_orders {
  font-family: "Source Sans Pro", sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.my_account_orders th {
  text-align: left;
}

tr {
  border-bottom: 1px solid #ccc;
}

th,
td {
  padding: 6px;
}

@media only screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 35%;
  }

  td:last-child {
    border-width: 0;
  }

  td:before {
    content: attr(data-title);
    color: #ccc;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
